
.col-1{
	display: flex;
	margin: auto;
	flex:1;
	padding-left: 10px;
	box-sizing: border-box;
}
.col-2{
	display: flex;
	margin: auto;
  flex:2;
	padding-left: 10px;
	box-sizing: border-box;
}
.col-3{
	display: flex;
	margin: auto;
  flex:3;
	padding-left: 10px;
	box-sizing: border-box;
}


.col-4{
	display: flex;
	margin: auto;
	flex-direction: column;
  flex:4;
	padding-left: 10px;
	box-sizing: border-box;
}

.col-5{
	display: flex;
	margin: auto;
  flex:5;
	padding-left: 10px;
	box-sizing: border-box;
}
.col-6{
	display: flex;
	margin: auto;
  flex:6;
	padding-left: 10px;
	box-sizing: border-box;
}


.col-8{
	display: flex;
	margin: auto;
  flex:8;
	padding-left: 10px;
	box-sizing: border-box;
}

.page-wishlist{
	margin: 10px 10px 10px 10px;
}

@media only screen and (max-width: 600px) {
	.page-wishlist {
		margin: 0;
	}
}

.page-wishlist__row{
		padding: 10px 10px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
		border-bottom: 1px solid #e8e8eb;
		margin-bottom: 10px;
	}

	@media only screen and (max-width: 600px) {
		.page-wishlist__row {
			padding: 10px 0;
		}
	}

	.page-wishlist__row:hover{

		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	}

.page-wishlist__headingrow{
			padding: 10px 0;
		  display: flex;
	    justify-content: left;
	    box-sizing: border-box;
			margin-bottom: 10px;
			background-color: #e8e8eb;
		}


	@media only screen and (max-width: 600px) {
				.page-wishlist__headingrow {
					padding: 10px 0;
				}
			}

.page-wishlist__img{
		width:75px;
		height:75px;
}


.page-wishlist__heading{
			 color: #000000;

	}

.page-wishlist__title{
			text-align: left;
			color: #000000;
      box-sizing: border-box;
  }
.page-wishlist__price{
    	font-weight: 300;
      text-align: left;
			padding-left: 10px;
	}

.page-wishlist__desc{
  		font-weight: 300;
    	padding-left: 10px;
      box-sizing: border-box;

	}
.page-wishlist__trashicon{
    	font-size: 1.25rem;
			display: flex;
      justify-content: left;
    	cursor: pointer;
			margin: auto;
	}

.page-wishlist__trashicon :hover{
	transform: scale(1.5,1.5);
}


.page-wishlist__innerflex{
  display: flex;
	justify-content: left;
}


.page-wishlist__addtocartbtn{
			background: #e8e8eb;
      margin: auto;
	    color: #000000;
			padding-right: 10px;
	}

.page-wishlist__addtocartbtn:hover{
		background: #cfcfd1;
		margin: auto;
	}

.page-wishlist__carticon{
			color:#000;
			background-color: #d3d3d3;
      text-align: center;
    	cursor: pointer;
			padding: 10px 15px ;
			border-radius: 5%;
			white-space: nowrap;
	}

	.page-wishlist__carticon:hover{
		transform: scale(1.1,1.1);
	}

.colorgreen{
	color:#006400;
}

.colorred{
		color:#800000;
}


.page-wishlist__afterrow{
			padding: 10px 10px;
		  display: flex;
	    justify-content: center;

		}

.wlwhremoveall{
		background-color: #e8e8eb;
		width:fit-content;
		padding: 5px 10px;
		max-width: 100px;

		cursor: pointer;
	}

.wlwhremoveall:hover{
			background-color: #cfcfd1;
			transform: scale(1.1);
		}

	@media only screen and (max-width: 768px) {
	  .atMedium {
			opacity: 0;
			display: none;
	  }
	}


.hide-overflow{
	overflow:hidden;
}
